caption {
    font-size: 160%;
    font-weight: bold;
    padding: 2%;
}
table {
    width: 100%;
}
th {
    text-align: left;
    vertical-align: top;
}
thead th {
    color: gray;
    padding-bottom: 2%;
}
.col3 {
    background: #fcda83;
    text-align: right;
}
thead {
    background: white;
}
tr td:nth-child(3) {
    text-align: right;
}
td {
    padding: .5%;
}